<!-- crm_user/snippets/cust_profile.html -->
<div class="card m-3">

  <div class="card-header">
    <div class="d-flex flex-row w-100 v-profile-header">
        <img src="{{user.profile_photo.url}}" alt="{{user.first_name}}'s profile photo" class='v-profile-photo'>
        <div class="d-flex flex-column justify-content-center">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p class="">{{user.type}}</p>
        </div>
    </div>
      <hr />

      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
              <button class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#tab1content" id="tab1" type="button">
                  Personal Info
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#tab4content" id="tab2" type="button">
                  Generator Info
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#tab3content" id="tab3" type="button">
                  Quotes
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#tab2content" id="tab4" type="button">
                  Invoices
              </button>
          </li>
          <li class="nav-item">
              <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#tab5content" id="tab5" type="button">
                  Appointments
              </button>
          </li>
      </ul>
  </div>

  <div class="card-body">
      <div class="tab-content" id="tabcontent">
          <!-- Contact Info -->
          <div class="tab-pane fade show active " id="tab1content" role="tabpanel">
              {% include 'crm_user/snippets/user_change.html' %}
          </div>
          <!-- Invoices -->
          <div class="tab-pane fade " id="tab2content" role="tabpanel">
              {% if user.Invoice_Customers.all %}
              <table class="table">
                  <thead>
                      <tr>
                          <th>Invoice No.</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for invoice in user.Invoice_Customers.all %}
                      <tr>
                          <td>{{invoice.report_no}}</td>
                          <td>{{invoice.date}}</td>
                          <td>{{invoice.report_total}}</td>
                          <td>Paid In Full</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% else %}
              <p> There are no Invoices to display</p>
              {% endif %}
          </div>
          <!-- Estimates -->
          <div class="tab-pane fade " id="tab3content" role="tabpanel">
              {% if user.Estimate_Customers.all %}
              <table class="table">
                  <thead>
                      <tr>
                          <th>Estimate No.</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for estimate in user.Estimate_Customers.all %}
                      <tr>
                          <td>{{estimate.report_no}}</td>
                          <td>{{estimate.date}}</td>
                          <td>{{estimate.report_total}}</td>
                          <td>Paid In Full</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% else %}
              <p> There are no Estimates to display</p>
              {% endif %}
          </div>
          <!-- Inventory -->
          <div class="tab-pane fade " id="tab4content" role="tabpanel">
              {% if InventoryList %}
              <table class="table">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Serial No.</th>
                          <th>Type</th>
                          <th>Address</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for inventory in InventoryList %}
                      <tr>
                          <td>{{inventory.name}}</td>
                          <td>{{inventory.serial_number}}</td>
                          <td>{{inventory.type}}</td>
                          <td>
                              {% for addr in user.address_set.all %}
                                  {% if inventory in addr.inventory.all %}
                                      {{addr.name}} 
                                  {% endif %}
                              {% endfor %}

                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% else %}
              <p> There is not Inventory to display</p>
              {% endif %}
          </div>
          <!-- Appointments -->
          <div class="tab-pane fade " id="tab5content" role="tabpanel">
              There are currently no scheduled appointments.
          </div>
      </div>
  </div>

</div>
