<!-- templates/registration/login.html -->
{% extends 'crm_user/appbase.html' %}

{% block title %}Login{% endblock %}

{% block app %}
{% load crispy_forms_tags %}
<div class="card m-3 p-3">
<h2 class="text-center">Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <div class="text-center m-2"><button type="submit" class="btn btn-primary">Log In</button></div>
  <div class="text-center mt-2"><a href="{% url 'password_reset' %}">Forgot Password?</a></div>
</form>
</div>
{% endblock %}