<!-- templates/registration/user_registration.html -->
{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="card m-3 p-3">
    <h2 class="text-center">Sign Up</h2>
    <p class='text-center'>
        This is a paragraph
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="text-center"><button type="submit" class="btn btn-primary">Create My Account</button></div>
    </form>
</div>
{% endblock %}