<!-- crm_user/appbase.html -->

{% extends 'main/base.html' %}

{% block title %}CRM Home{% endblock %}

{% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'crm_user/css/styles.css' %}?{% now ' U'%}" />
<link rel="stylesheet" href="{% static 'crm_user/css/bootstrap-select.css' %}?{% now ' U'%}" />
{% endblock %}

{% block content %} 
{% include 'crm_user/snippets/header.html' %}
<main>
    {% block app %} {% endblock app %}
</main>
{% endblock content %}

{% block js %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
<script src="{% static 'crm_user/js/JavaScript.js' %}?{% now ' U' %}" type="text/javascript"></script>
{% endblock js %}