<!-- crm_user/home.html -->

{% extends 'crm_user/appbase.html' %}

{% block title %}CRM Home{% endblock %}

{% block app %} 

{% if user.type == 'CUSTOMER' %}
{% include 'crm_user/snippets/dashboard/cust_menu.html' %}
{% include 'crm_user/snippets/dashboard/cust_dashboard.html' %}
{% elif user.type == 'ADMIN' %}
{% include 'crm_user/snippets/dashboard/admin_menu.html' %}
{% include 'crm_user/snippets/dashboard/admin_dashboard.html' %}
{% elif user.type == 'EMPLOYEE' %}
{% include 'crm_user/snippets/dashboard/emp_menu.html' %}
{% include 'crm_user/snippets/dashboard/emp_dashboard.html' %}
{% endif %}
{% endblock %}
