<!-- crm_user/profile.html -->

{% extends 'crm_user/appbase.html' %}

{% block title %}CRM - User Profile{% endblock %}

{% block app %} 
{% if user.is_authenticated %}

<div class="card m-3">

  <div class="card-header">
    {% include 'crm_user/snippets/profile/profile_header.html' %}
    <hr />
    {% include 'crm_user/snippets/profile/profile_tabs.html' %}
  </div>

  <div class="card-body v-profile-body">
    <div class="tab-content" id="tabcontent">
      <!-- Account -->
      {% include 'crm_user/snippets/profile/tab1content.html' %}
      <!-- Addresses -->
      {% include 'crm_user/snippets/profile/tab2content.html' %}
      <!-- Personalization -->
      {% include 'crm_user/snippets/profile/tab3content.html' %}
    </div>
  </div>
</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
