/* crm_user/css/styles.css */

/* HTML Tags */

main {
    color: whitesmoke;
    top:50px;
    left:0px;
    bottom:30px;
    right:20px;
    padding-right:10px;
    overflow-y:scroll;
    position: fixed;
}    

body {
    background-image: linear-gradient(rgba(144, 238, 144, 0.25),rgba(144, 238, 144, 0.75),rgb(144, 238, 144), rgba(0, 128, 0, 0.25));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:'Franklin Gothic Book' !important;
    position:static;
    overflow:hidden;
    height: 100vh;
    cursor: url('/static/crm_user/images/arrow-cursor.svg'), auto;
}

footer {
    position:fixed;
    bottom:0px;
    height: 30px;
    width: 100%;
    padding-right: 10px;
    margin: 0px;
    background-color: transparent;
    color: grey;
}

footer div{
    background-color:transparent;
    padding: 0px;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    display: flex;
}

footer a {
    color: grey;
}

header {
    color: whitesmoke;
    border: 1px solid green;
    background-image: linear-gradient(green, lightgreen, green);
    color: indigo !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 50px;
}

header i{
    color:indigo !important;
    text-shadow: 0 0 7px lightgreen;
}

header a, header button {
    color: white !important;
    text-decoration: none;
    align-items: center !important;
}

header > div:first-child {
    width: 100%;
    height: 100%;
    margin: 0;
}

header > div:first-child > div {
    height: 100%;
    padding: 0;
}

header h3:first-of-type {
    color:indigo; 
    font-family:'Colonna MT';
    margin-bottom: 0;
    margin-left: 0.5rem !important;
}

/* Custom Classes */

.v-row-register {
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.v-card-register, .v-card-register button, .v-card-register a{
    color: black !important;
    text-shadow: rgba(143, 0, 245, 0.36);
}

.v-card-register {
    background-color: rgba(143, 0, 245);
    border-color: indigo;
    box-shadow: inset 0 0 5px indigo, 0 0 5px rgba(143, 0, 245, 0.36);
}

.v-card {
    box-shadow: inset 0 0 5px rgb(40, 46, 40), 0px 0px 20px 2px rgba(0, 245, 78, 0.25);
    border-color: rgba(0, 245, 78, 0.508);
    background-color:rgb(228, 248, 228);
    border-radius: 15px;
}

.v-card input {
    box-shadow: inset 1px 1px 2px rgb(40, 46, 40);
    border-color: rgb(208, 251, 208);
}

.v-card input[type="file"]::file-selector-button,
.v-card input[type="file"]::-webkit-file-upload-button,
.v-card input[type="submit"] {
    background-color:rgb(0, 165, 0);
    box-shadow: inset 0 0 10px rgb(179, 248, 179);
    color: whitesmoke;
    text-shadow: white;
}

.v-card input[type="file"]:hover::file-selector-button {
    background-color: rgb(0, 165, 0) !important;
    box-shadow: inset .5px .5px 2px rgba(40, 46, 40);
    border-color: rgb(208, 251, 208);
}
.v-card input[type="file"]:hover::-webkit-file-upload-button {
    background-color: rgb(0, 165, 0) !important;
    box-shadow: inset .5px .5px 2px rgba(40, 46, 40);
    border-color: rgb(208, 251, 208);
}
.v-card input[type="file"]:hover::-ms-browse {
    background-color:rgb(0, 165, 0) !important;
    box-shadow: inset .5px .5px 2px rgba(40, 46, 40);
    border-color: rgb(208, 251, 208);
}

.v-card input:hover,
.v-card input:focus {
    box-shadow: inset .5px .5px 2px rgba(40, 46, 40);
    border-color: rgb(208, 251, 208);
}

.v-card .v-select-btn {
    background-color: rgb(208, 251, 208) !important;
    box-shadow: inset 0 0 10px rgba(81, 134, 81, 0.24), 0 0 2px rgb(81, 134, 81);
    border-color: rgba(208, 251, 208);
}

.v-card .v-select-btn:focus,
.v-card .v-select-btn:hover {
    box-shadow: inset 0 0 15px rgba(81, 134, 81, 0.50);
    background-color: rgb(208, 251, 208) !important;
    border-color: rgba(208, 251, 208);
}

.v-card .v-select > .dropdown-menu {
    background-color: rgb(109, 179, 109);
    box-shadow: inset 0 0 15px 2px rgb(0, 128, 0),3px 3px 5px rgba(0, 128, 0, 0.25);
    border: 1px solid rgb(144, 238, 144);
}

.v-card .v-select ul {
    background-color: transparent ;
}

.v-card .v-select li {
    margin-top: .25rem;
}

.v-card .v-select li a{
    color: whitesmoke;
    border-radius: 5px;
}

.v-card .v-select li a.active {
    background-color: rgb(135, 50, 196);
    box-shadow: inset 0 0 5px rgb(81, 134, 81);
    color: whitesmoke;
}

}

.v-table-fields {
    min-width:100px;
}

.v-forms {
    width: 100%;
}

.v-fields-name {
    width:33%;
    margin-left: 1rem;
}

.v-profile {
    background-color: transparent;
    border: 0;
}

.v-profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px;
    border:1px solid rgba(0, 128, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.25);
}

.v-profile-body {
    background-color: transparent;
    border-left: 0;
}

.v-profile > .card-header {
    background-color:lightgreen;
    box-shadow: inset 0 0 15px 5px rgba(0, 128, 0, 0.25), 0 0 25px 10px rgb(208, 251, 208);
    border: 1px solid rgba(0, 128, 0, 0.25);
    border-radius: 30px !important;
}

.v-profile-tabs {
    background-color: transparent;
    justify-content: center;
}

.v-profile-tabs .nav-tabs {
    border-bottom: 1px solid green;
}

.v-profile-tabs .nav-tabs .nav-link {
    color: darkgreen;
    text-shadow: 0 0 2px rgb(179, 248, 179);
}

.v-profile-tabs .nav-tabs .nav-link:hover,
.v-profile-tabs .nav-tabs .nav-link:focus {
    border-color: green green lightgreen green;
    box-shadow: 3px -1px 4px rgb(81, 134, 81);
}

.v-profile-tabs .nav-tabs .nav-link.active {
    color: white;
    text-shadow: none;
    background-color: darkgreen !important;
    border-color: green !important;
    box-shadow: inset 0 0 15px 3px green, 3px -1px 4px rgb(81, 134, 81);
}

.crm-dropdown {
    background-color: green;
    color:white;
}

.crm-dropdown p {
    color:white;
}

.crm-dropdown-item:focus, .crm-dropdown-item:hover, .crm-dropdown-item:active {
    background-color: lightgreen;
}

.v-scroll-x {
    overflow-x: auto;
}

.v-scroll-y {
    overflow-y: auto;
}

/* Media */

/* Mobile */
@media (max-width:385px) {
    .v-fields-name {
        width:100%;
        margin-left: 0;
    }

    .v-profile-photo {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .v-profile-header > div:last-child {
        justify-content: start !important;
    }

    .v-profile-header > div:first-child {
        justify-content: center;
    }
}
/* XS */
@media (min-width:385px) {
    .v-fields-name {
        width:100%;
        margin-left: 0;
    }
}
/* SM */
@media (min-width: 576px) {
    .v-fields-name {
        width:33%;
        margin-left: 1rem;
    }
}

/* MD */
@media (min-width: 768px) {

}

/* L */
@media (min-width: 992px) {

}

/* XL */
@media (min-width: 1200px) {

}

/* XXL */
@media (min-width: 1400px) {

}


/* Scrollbar */

main::-webkit-scrollbar, .v-scroll-x::-webkit-scrollbar, .v-scroll-y::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

main::-webkit-scrollbar-track, .v-scroll-x::-webkit-scrollbar-track, .v-scroll-y::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px indigo; */
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

main::-webkit-scrollbar-track-piece, .v-scroll-x::-webkit-scrollbar-track-piece, .v-scroll-y::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 5px indigo;

    background-color: rgba(143, 0, 245, 0.36);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb, .v-scroll-x::-webkit-scrollbar-thumb, .v-scroll-y::-webkit-scrollbar-thumb {
    background-image: radial-gradient(lightgreen, green);
    outline: 1px solid green;
    border-radius: 10px;
    box-shadow: inset 0 0 5px green;
}

main::-webkit-scrollbar-thumb:hover, .v-scroll-x::-webkit-scrollbar-thumb:hover, .v-scroll-y::-webkit-scrollbar-thumb:hover {
    background: green;
}

main::-webkit-scrollbar-thumb:window-inactive, .v-scroll-x::-webkit-scrollbar-thumb:window-inactive, .v-scroll-y::-webkit-scrollbar-thumb:window-inactive {
    background-image: radial-gradient(green, lightgreen);
}