<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <p>We are so happy to have you as a customer!</p>
    <p>To view your invoices and/or update your account information, please click here to create an online profile.</p>
    <p> If you have any questions, feel free to contact us at 123-345-7890</p>
    <p>
        Sincerely, <br />
        Company Name <br />
        Company Email <br />
        Company Phone Number <br />
        Company Website <br />
        Company Address <br />
    </p>
</body>
</html>