<!-- crm_user/snippets/profile/tab2content.html -->

<div class="tab-pane fade " id="tab2content" role="tabpanel">
    {% if user.Invoice_Customers.all %}
    <table class="table">
        <thead>
            <tr>
                <th>Invoice No.</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in user.Invoice_Customers.all %}
            <tr>
                <td>{{invoice.report_no}}</td>
                <td>{{invoice.date}}</td>
                <td>{{invoice.report_total}}</td>
                <td>Paid In Full</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> There are no Invoices to display</p>
    {% endif %}
</div>