<!-- main/snippets/certs.html -->

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accFour" aria-expanded="false" aria-controls="accFour">
            My Story
        </button>
    </h2>
    <div id="accFour" class="accordion-collapse collapse" data-bs-parent="#aboutAccordion">
        <div class="accordion-body v-story">
            <h3> How I Got here</h3>
            <hr/>
            <p>
                My interest in web development began at an early age with my first computer class
                as a Freshman in High School, 2007. We went over basic HTML and CSS. I quickly fell
                in love with the idea of being able to create something extraordinary out of 
                text. The customization of every little detail was fascinating.
            </p>
            <p>
                In 2014, I createdStarr Management, a talent agency. This is where I found WIX. 
                I was still very new to coding, and the WIX platform offered a versatile interface 
                for customizing a website, creating forms, and interacting with visitors. I loved it. 
                I learned a lot about layouts, themes, and the limitations of html components. But, 
                as my business grew, I quickly ran into customization issues with WIX. I wanted my 
                clients to be able to log in and view upcoming gigs, accept gigs, maintain their schedule,
                access documents, and communicate with me directly. I knew these things had to be
                possible, but the functionality was not available at the time. 
            </p>
            <p>
                In 2017 I shut down Starr Management and created TW Auto LLC: a mobile mechanic
                shop. This being my second company, I understood the fundamentals of setting up 
                shop and what I was going to need to advertise to the community. The business
                exploded after 6 months of opening. This was my first experience with hiring 
                employees, managing payroll, higher invoice amounts, and a multitude of
                expenses. I quickly realized that I was not able to run everything solo as I 
                did with Starr Management. I utilized the WIX platform again, since it was 
                familiar to me, but was wanting to stretch the limits of its capabilities to 
                offer more convenience and services to my customers. 
            </p>
            <p>
                In 2018, I hired a marketing team to design my website. We worked closely together 
                and I became very involved in the expansion of my website. Unfortunately, 
                WIX was still not able to provide the functionality that I was looking for.
                This led me to look for third-party applications to compensate. I found 
                Mitchel 1. This platform was customized to stationary mechanic shops, not mobile 
                mechanic shops. This led to significant work-arounds and the use of several 
                third-party applications to provide the services that I desired for my 
                employees and customers.
            </p>
            <p>
                In 2020, I went through a very difficult divorce, had to close down TW Auto LLC,
                and start completely over. This gave me the time and opportunity to focus on 
                what I wanted to do next with my career. I wanted to bring back TW Auto LLC, 
                but run it more efficiently and with a more solid foundation. With less money
                and resources than when I started TW Auto LLC, it led me into several months 
                of planning and going over how I could improve things on my next go around. I
                realized that I would need to automate many of duties and put more control 
                into the hands of my customers and employees, as well as being highly accessible. 
                I needed to create a responsive web application. 
            </p>
            <p>
                In 2022 I began researching and learning as much as I could about web development.
                I found Coursera.com and fell in love with the variety of courses that were
                available to me. I enrolled in the IBM Full Stack Software Developer Program.
                This program refreshed my memory on the core concepts of HTML and CSS, as well as 
                extended my knowledge of front-end development with LESS, SASS, and JavaScript.
                The program not only delved into backend development with Django, NodeJS, and React,
                but taught DevOps, twelve-factor app development, and many open-source libraries to 
                utilize. My passion for app development was aflame and I was no longer focused on 
                re-creating TW Auto LLC but learning and growing as a software developer.
            </p>
            <p>
                Now, in 2023, I am creating responsive web applications focused on small businesses,
                utilizing my experience as a small business owner to customize the needs of each 
                individual client. I am currently expanding my portfolio to showcase these skills 
                and building base templates for common needs of a business owner. 
            </p>
            <hr />
        </div>
    </div>
</div>
