/* main/css/styles.css */

/* HTML Tags */

main {
    color: whitesmoke;
    top:50px;
    left:0px;
    bottom:30px;
    right:20px;
    padding-right:10px;
    overflow-y:scroll;
    position: fixed;
}    

body {
    background-image: url('/static/main/images/purple_smoke.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:'Franklin Gothic Book' !important;
    position:static;
    overflow:hidden;
    height: 100vh;
}

footer {
    position:fixed;
    bottom:0px;
    height: 30px;
    width: 100%;
    padding-right: 10px;
    margin: 0px;
    background-color: transparent;
    color: grey;
}

footer div{
    background-color:transparent;
    padding: 0px;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    display: flex;
}

footer a {
    color: grey;
}

/* Media */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .main-dropdown {
        background-color: indigo;
    }    
  }  
  
/* Small devices (portrait tablets and large phones, 600px and up) */  
@media only screen and (min-width: 576px) {
    .main-dropdown {
        background-color: transparent;
    }    
}  
  
/* Custom Classes */

.main-header {
    border: 1px solid #400080;
    background-image: linear-gradient(indigo, rgb(143, 0, 245), indigo);
    color: white;
}    

.main-header i{
    color: #2aa749 !important;
    text-shadow: 0 0 5px indigo;
}    

.main-header a, button{
    color: white !important
}    

.v-icon-btn {
    border: 1px solid indigo ;
    color: whitesmoke;
    background-color: rgb(143, 0, 245);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px indigo;
}

.v-name {
    font-family:'Colonna MT';
    text-shadow: 0 0 15px rgb(143, 0, 245), 0 0 15px rgb(143, 0, 245); /* creae a brighter shadow */
}

/* Pseudo-Class */

.main-dropdown-item:focus, .main-dropdown-item:hover, .main-dropdown-item:active {
    background-color: rgb(143, 0, 245);
    border-radius: 5px;
}    
    
main::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px indigo;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

main::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 5px indigo;

    background-color: rgba(158, 93, 243, 0.626);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background-image: radial-gradient(rgb(143,0,245), indigo);
    outline: 1px solid indigo;
    border-radius: 10px;
    box-shadow: inset 0 0 5px indigo;
}

main::-webkit-scrollbar-thumb:hover {
    background: indigo;
}

main::-webkit-scrollbar-thumb:window-inactive {
    background-image: radial-gradient(indigo, rgb(143,0,245));
}