/* main/css/styles.css */

.main-header {
    border: 1px solid #400080;
    background-image: linear-gradient(indigo, rgb(143, 0, 245), indigo);
    color: white;
}

.main-header i{
    color: #2aa749 !important;
    text-shadow: 0 0 5px indigo;
}

.main-header a, button{
    color: white !important
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .main-dropdown {
        background-color: indigo;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .main-dropdown {
        background-color: transparent;
    }
  }

.main-sub-dropdown {
    background-color: indigo;
}
  
.main-dropdown-item:focus, .main-dropdown-item:hover, .main-dropdown-item:active {
    background-color: rgb(143, 0, 245);
    border-radius: 5px;
}

body {
    background-image: url('/static/main/images/purple_smoke.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}